
<div class="card">
    <div class="card-header">
        Asistencias del Personal
        <br/>
        <nav class="navbar bg-body-tertiary">
          <form class="container-fluid justify-content-start">
            <button class="btn btn-outline-success me-2" (click)="redirecTo('empleados')" type="button">Lista de Empleados</button>
          </form>
        </nav>
    </div>
    
    <div class="card-body">
      <form class="d-flex" role="search">
        <input class="form-control me-2" [(ngModel)]="filtroNombre" name="search" placeholder="Personal a buscar" aria-label="Search"/>
      </form>
      <table class="table table-striped">
            <thead>
                <tr>
                  <th scope="col">Fecha</th>
                  <th scope="col">Hora de Ingreso</th>
                  <th scope="col">Hora de Salida</th>
                  <th scope="col">Empleado</th>
                </tr>
              </thead>
              <tbody>
                 @for (item of asistenciasFiltradas; track item.id) {
                    <tr >
                        <th scope="row">{{item.fecha}}</th>
                        <td>{{item.horaEntrada}}</td>
                        <td>{{item.horaSalida}}</td>
                        <td>{{item.empleado.nombre +' '+ item.empleado.apellido}}</td>
                      </tr>
                }
              </tbody>
          </table>
    </div>
  </div>
