<div class="card">
    <div class="card-header">
        Asistencias del Personal
        <nav class="navbar bg-body-tertiary">
          <form class="container-fluid justify-content-start">
            <button class="btn btn-outline-success me-2" (click)="verificarContrasena()" type="button">Lista de asistencia</button>
          </form>
        </nav>
    </div>
     <form class="d-flex" role="search">
        <input class="form-control me-2" [(ngModel)]="filtroNombre" name="search" placeholder="Personal a buscar" aria-label="Search"/>
      </form>
    <div class="card-body">
        <button type="button" (click)="onGenerarAsistencia()" class="btn btn-primary" >Registrar Asistencia</button>       <table class="table table-striped">
           <form class="d-flex" role="search">
              <input class="form-control me-2" [(ngModel)]="filtroNombre" name="search" placeholder="Personal a buscar" aria-label="Search"/>
          </form>
            <thead>
                <tr>
                  <th scope="col">Fecha</th>
                  <th scope="col">Hora de Ingreso</th>
                  <th scope="col">Hora de Salida</th>
                  <th scope="col">Empleado</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                @for(item of Filtros; track $index){
                    <tr>
                        <th scope="row">{{item.fecha}}</th>
                        <td>{{item.horaEntrada}}</td>
                        <td>{{item.horaSalida}}</td>
                        <td>{{item.empleado.nombre +' '+ item.empleado.apellido}}</td>
                        <td><button type="button" (click)="onGenerarSalida(item.id)"  
                          class="btn btn-primary" >Salida</button></td>

                      </tr>
                }
              </tbody>
          </table>
    </div>
  </div>
